<div class="row" ng-controller="ReviewCalibrationController">
    <section class="content">
        <div class="row row-centered">
            <div class="col-xs-12 col-lg-9 col-md-9 col-sm-9 col col-centered">
                <div class="box no-border no-round">
                    <div class="box-header with-border">
                        <h3 class="box-title">Calibration</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal horizontal-max" name="form" role="form" novalidate>
                            <div class="panel panel-default">
                                <div class="panel-heading">Submitted Calibration</div>
                                <div class="box-body form-horizontal horizontal-max">
                                    <!--<form class="form-horizontal horizontal-max" name="addAssignmentForm" role="form" ng-submit="saveNewPost(addAssignmentForm.$valid)" novalidate>-->
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Title</label>
                                            <div class="col-sm-6 control-label" style="text-align: left;">
                                                <label style="font-weight: normal">{{viewCalibrationObject.title}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Teacher Name</label>
                                            <div class="col-sm-6 control-label" style="text-align: left;">
                                                <label style="font-weight: normal">{{viewCalibrationObject.teacherName}}</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Teacher Comments</label>
                                            <div class="col-sm-6 control-label" style="text-align: left;">
                                                <label style="font-weight: normal">{{viewCalibrationObject.teacherComments}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-5 control-label">Calibration Documents</label>
                                            <div class="col-sm-6 control-label" style="text-align: left;">
                                                <div class="label label-info" ng-repeat="doc in viewCalibrationObject.displayCalibrationDocumentsList">
                                                    <a href="{{doc.link}}" target="_blank" style="color: white"
                                                        download> &nbsp;
                                                        <span>{{doc.name}}</span> &nbsp;
                                                        <br>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Review</div>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group" ng-repeat="rubric in rubrics">
                                            <label for="inputReviewDescription" class="col-sm-4 control-label">{{rubric.title}}</label>
                                            <div class="col-sm-4">
                                                <textarea rows="2" class="form-control original-form-control" ng-model="reviewCalibrationObject.rubricReview[rubric._id]" />
                                                </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputReviewComments" class="col-sm-4 control-label">Comments</label>
                                            <div class="col-sm-4">
                                                <textarea rows="3" class="form-control original-form-control" id="inputReviewComments" ng-model="reviewCalibrationObject.comments" placeholder="Comments"
                                                />
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : form.marks.$invalid && !form.marks.$pristine }">
                                            <label for="inputObtainedMarks" class="col-sm-4 control-label">Obtained Marks(Total: {{reviewCalibrationObject.peerReviewId.totalMarks}}) *</label>
                                            <div class="col-sm-2">
                                                <input type="number" name="marks" min="0" max="{{reviewCalibrationObject.peerReviewId.totalMarks}}" class="form-control original-form-control"
                                                    id="inputObtainedMarks" ng-model="reviewCalibrationObject.marksObtained" required>
                                            </div>
                                            <p ng-show="form.marks.$invalid && form.marks.$error.min" class="help-block">Marks should be a positive number</p>
                                            <p ng-show="form.marks.$invalid && form.marks.$error.number" class="help-block">Marks should be a number</p>
                                            <p ng-show="form.marks.$invalid && form.marks.$error.max" class="help-block">Marks cannot exceed total marks</p>
                                            <p ng-show="form.marks.$invalid && form.marks.$error.required" class="help-block">Marks are required</p>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer control-group">
                        <br class="clear">
                        <error-block ng-show="errors.length > 0" messages="errors"></error-block>
                        <div class="controls pull-right">
                            <button class="btn btn-primary" ng-disabled="!isFormValid()" ng-click="submitReview()"> Save
                                <spinner show="isLoading"></spinner>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>